<!DOCTYPE html>

<head>

</head>

<body>
    <div>Checking: <%= locals.text || "Test" %></div>
    <button onclick="window.location='/posts/new';">New post</button>
    <button onclick="window.location='/users/new';">New user</button>
    
</body>